.section {
  margin: 124px 20px;
  display: flex;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: rgba(34, 34, 34, 1);
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .section {
    flex-wrap: wrap;
  }
} 