.tile {
  max-width: 328px;
  height: auto;
  background-color: #FFF;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 24px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tileNumber {
  width: 103px;
  height: 40px;
  padding: 0;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: #FFF;
  background-color: rgba(93, 93, 93, 1); 
}

.number {
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 1);
}

.status {
  margin-left: 8px;  
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: rgba(34, 34, 34, 1);
}

.technologicalIcon {
  width: 24px;
  height: 24px;
}

.ticketInfo {
  padding: 16px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
}

.ticketInfo::after {
  content: '';
  display: block;
  height: 1px; 
  width: 100%;
  max-width: 296px;
  background-color: rgba(219, 219, 219, 1);
  margin: 4px;
}

.container {
  display: flex;
}

.keyColumn {
  display: flex;
  width: 100px;
  flex-direction: column;
}

.valueColumn {
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.keyColumn p {
  max-width: 300px;
  margin-bottom: 8px; 
}

.valueColumn span {
  margin-bottom: 8px; 
}

.creation,
.completed,
.control,
.system,
.fullname,
.object {
  display: inline-block;
  width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(68, 68, 68, 1);
}

.createdAt,
.completedAt,
.controlAt,
.duration,
.tileType,
.name,
.address {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: rgba(34, 34, 34, 1);
  white-space: nowrap;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  white-space: wrap;
}

.description {
  padding: 0px 16px 0px;
  position: relative;
  overflow: hidden; 
  font-size: 14px;
  font-weight: 400;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.truncatedDescription {
  display: -webkit-box; 
  display: -moz-box;    
  display: -ms-box;     

  -webkit-line-clamp: 5; 
  line-clamp: 5;         

  -webkit-box-orient: vertical; 
  overflow: hidden; 
}

.fullDescription {
  display: block;
  overflow: visible;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px; 
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -28.11%, #FFFFFF 43.96%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none; 
}

.readMoreButton {
  position: relative;
  pointer-events: auto; 
  margin-top: 16px;
  width: 168px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: rgba(233, 87, 33, 1);
  cursor: pointer;
}